.elementor-49 .elementor-element.elementor-element-934f903 {text-align: center;}
.elementor-49 .elementor-element.elementor-element-934f903.elementor-widget-heading .elementor-heading-title {color: #070707;}
.elementor-49 .elementor-element.elementor-element-06045be .eael-caldera-form .has-error .parsley-required {display: block !important;}